{% extends './layout/layout.html' %}

{% block title %} {{ title }} - 蘑菇街 {% endblock %}

{% block style %}

{% if env === 'development' %}
<!-- <link rel="stylesheet" href="/css/pages/index.css" charset="utf-8"> -->
<link rel="stylesheet" href="/css/common/base.css" charset="utf-8">
{% else %}
<!-- <link rel="stylesheet" href="/css/pages/index.min-{{ appVersion }}.css" charset="utf-8"> -->
{% endif %}

{% endblock %}

{% block content %}
<div id="todoapp"></div>
<footer id="info">
    <p>Double-click to edit a todo</p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
{% endblock %}

{% block script %}
{% if env === 'development' %}
<script src="/js/vendor.bundle.js" charset="utf-8"></script>
<script src="/js/app.js" charset="utf-8"></script>
{% else %}
<!-- <script src="/js/index/app.min-{{ appVersion }}.js" charset="utf-8"></script> -->
{% endif %}
{% endblock %}
